<!-- <div class="jumbotron"> -->
  <div class="container">
    <h1 class="display-3">Fixed Width Data Remapper</h1>

    <div class="form-group">
      <label for="indata">Input data:</label>
      <textarea id="indata" class="form-control" ng-model="indata" ng-change="calculateOutdata()" placeholder="Paste input file contents here"></textarea>
    </div>

<!--     <div> Cursor Position : position: <b ng-bind="cursorPosVal.pos"></b>, row: <b ng-bind="cursorPosVal.row"></b>, col: <b ng-bind="cursorPosVal.col"></b></div>
 -->
<!--     <div class="form-group">
      <label for="indata">Input data:</label>
      <div id="indata" class="form-control" ng-model="indata" ng-click="getCursorPos)" ng-keyup="getCursorPos()" ng-change="calculateOutdata()" contenteditable></div>
      <p>{{text}}</p>
    </div>
 -->
    <div class="alert alert-danger" role="alert" ng-bind="erroralert" ng-show="erroralert"></div>

    <div class="form-group" ng-show="outdata.length">
      <label for="outdata">Output data:</label>
      <textarea id="outdata" class="form-control" ng-bind="outdata" ng-click="onTextClick($event)"></textarea>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" ng-click="calculateOutdata()">remap data</button>
    </div>

    <hr/>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="headerselector">Use section header rows that start with (leave blank if data is not grouped into sections):</label>
        <input type="text" id="headerselector" class="form-control" ng-model="headerselector" ng-change="calculateOutdata()"></input>
      </div>

      <div class="form-group col-md-4">
        <label for="headerrowcount">Number of rows in section header (0 if data is not grouped into sections):</label>
        <input type="text" id="headerrowcount" class="form-control" ng-model="headerrowcount" ng-change="calculateOutdata()"></input>
      </div>

      <div class="form-group col-md-4">
        <label for="lineselector">Only include data rows that start with:<br/>&nbsp;</label>
        <input type="text" id="lineselector" class="form-control" ng-model="lineselector" ng-change="calculateOutdata()"></input>
      </div>
    </div>

    <hr/>

    <h2>Column Maps</h2>

    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Map name (for reference only):</th>
          <th>Output width:</th>
          <th>Output padding placement ("start" or "end"):</th>
          <th>Output padding character:</th>
          <th>Input source (0 = data row, 1/2/3 = section header row #):</th>
          <th>Input start position:</th>
          <th>Input width:</th>
          <th>Type (todo):</th>
          <td></td>
          <td id="permadd"><button class="btn btn-success" ng-click="addMap(-1)">add</button></td>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="map in maps">
            <td><input ng-model="map.name" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
            <td><input ng-model="map.outwidth" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
            <td><input ng-model="map.padding_position" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
            <td><input ng-model="map.padding_symbol" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
            <td><input ng-model="map.sourcerow" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
            <td><input ng-model="map.instart" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
            <td><input ng-model="map.inwidth" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
            <td><input ng-model="map.type" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
            <td><button class="btn btn-danger" ng-click="removeMap($index)">remove</button></td>
            <td><button class="btn btn-success" ng-click="addMap($index)">add</button></td>
            <td><pre ng-show="map.preview">{{map.preview}}</pre></td>
          </tr>
      </tbody>
    </table>

    <div ng-show="maps.length"><button class="btn btn-primary" ng-click="saveMaps()">save maps</button><br/></div>
    Load: <input type="file" on-read-file="setMap($fileContent)" />

    <br/><br/>

    <div class="form-group" ng-show="maps.length">
      <label for="prettymaps">Maps (as JSON):</label>
      <textarea id="prettymaps" class="form-control" ng-bind="prettymaps()"></textarea>
    </div>


    <table class="hide table table-condensed" ng-repeat="map in maps">
      <thead>
        <tr>
          <th>{{map.name}}</th>
          <!-- <th>Map #{{$index+1}}</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>Name (for reference only):</td>
            <td><input ng-model="map.name" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
          </tr>
          <tr>
            <td>Output width:</td>
            <td><input ng-model="map.outwidth" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
          </tr>
          <tr>
            <td>Output padding placement ("start" or "end"):</td>
            <td><input ng-model="map.padding_position" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
          </tr>
          <tr>
            <td>Output padding character:</td>
            <td><input ng-model="map.padding_symbol" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
          </tr>
          <tr>
            <td>Input source (0 = each data row, 1 = section header row #1, #2, etc):</td>
            <td><input ng-model="map.sourcerow" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
          </tr>
          <tr>
            <td>Input start position:</td>
            <td><input ng-model="map.instart" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
          </tr>
          <tr>
            <td>Input width:</td>
            <td><input ng-model="map.inwidth" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
          </tr>
          <tr>
            <td>Type (todo):</td>
            <td><input ng-model="map.type" class="form-control" type="text" ng-change="calculateOutdata()" /></td>
          </tr>
      </tbody>
    </table>

  </div>
