html {
    font-size: 16px;
}

body {
    color: $color-3;
    font-family: Arial, Helvetica, sans-serif;
    // font-size: 62.5%; // 1em = 10px
}

a {
    color: $color-4;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: $color-5;
}

canvas {
    display: block;
}

#indata,#indata2,#outdata {
  font-family: monospace;
  height: 100px !important;
  white-space: pre;
  overflow: scroll;
}

#indata {
  background-color: #eee;
}

[contenteditable] {
  border: 2px dotted #ccc;
  background-color: #eee;
  padding: 2px;
}

// scss-lint:disable ImportantRule, SingleLinePerSelector, SelectorFormat
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
// scss-lint:enable ImportantRule, SingleLinePerSelector, SelectorFormat
